* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 46px;
  margin: 20px 0;
}

.playlist {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.playlist .box {
  width: 200px;
  margin: 0 10px;
  text-align: center;
}
.playlist .box .cover {
  width: 200px;
}
.playlist .box .cover img {
  width: 100%;
}
